body{
    background-color: rgb(245, 79, 198);
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: rgb(240, 201, 227);
    padding:30px;
    border-radius:10px;
    text-align: center;
    box-shadow:0 4px 8px rgb(0,0,0,0.5);
}.input-box{
    margin-bottom:15px;
}
input[type="text"]{
    width:calc(100%-22px);
    border: 1px solid rgb(35, 123, 134);
    border-radius: 5px;
    padding:10px;
}
.btn{
    display:flex;
    justify-content: space-between;
    margin-top:20px;
}
button{
    padding: 10px 10px;
    border:none;
    background-color: rgb(232, 119, 211);
    color: rgb(56, 84, 244);
    border-radius: 5px;
    font-size: 16px;
}
button:hover{
    color: rgb(237, 230, 235);
    background-color: rgb(80, 101, 224);
}
label{
    display:block;
    margin-bottom: 5px;
    color: rgb(10, 48, 73);
}